<% include ../partials/top %>
<h2><%- news.heading %></h2>
<div class="board_msg"><%- news.text %></div>
<p class="date">Am <%= news.createdOn.getDate() + '. ' + (news.createdOn.getMonth() + 1) + '. ' +  news.createdOn.getFullYear() %> geschrieben von: <%= news.createdBy %></p>
<hr>
<form action="/news/<%= news._id%>/comment" method="post">
	<textarea id="comment" placeholder="Dein Kommentar" name="comment" cols="30" rows="2" required></textarea>
	<input type="submit" name="submit" value="Senden" />
</form>
<hr>
<h3>Kommentare:</h3>
<% 
	comments.forEach(function(comm){ %>
	<div class="board">
		<div class="comment"><%= comm.comment %></div>
	</div>
<% }); %>
<% include ../partials/bottom %>